<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Publicación</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <h1>Editar Publicación</h1>

    <form action="/posts/<%= post.id %>?_method=PUT" method="POST"> <!-- Usa method-override -->
      <label for="title">Título:</label>
      <input type="text" id="title" name="title" value="<%= post.title %>" required>

      <label for="description">Descripción:</label>
      <textarea id="description" name="description" required><%= post.description %></textarea>

      <label for="url_multimedia">URL Multimedia:</label>
      <input type="text" id="url_multimedia" name="url_multimedia" value="<%= post.url_multimedia %>">

      <button type="submit">Actualizar Publicación</button>
    </form>

    <div class="post-actions">
      <a href="/users">Cancelar</a>
    </div>
  </div>
</body>

</html>