<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Publicación</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <h1>Editar Publicación</h1>

    <!-- Formulario para editar la publicación -->
    <form id="editForm">
      <label for="title">Título:</label>
      <input type="text" id="title" name="title" value="<%= post.title %>" required>

      <label for="description">Descripción:</label>
      <textarea id="description" name="description" required><%= post.description %></textarea>

      <label for="url_multimedia">URL Multimedia:</label>
      <input type="text" id="url_multimedia" name="url_multimedia" value="<%= post.url_multimedia %>">

      <button type="button" onclick="editPost('<%= post.id %>')">Actualizar Publicación</button>
    </form>

    <!-- Botón de Cancelar para regresar a la página anterior -->
    <div class="post-actions">
      <button onclick="goBack()">Cancelar</button>
    </div>
  </div>

  <script>
    // Función para volver a la página anterior
    function goBack() {
      window.history.back();
    }

    function editPost(postId) {
      const title = document.getElementById('title').value;
      const description = document.getElementById('description').value;
      const url_multimedia = document.getElementById('url_multimedia').value;

      fetch(`/posts/${postId}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ title, description, url_multimedia })
      })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            alert('Publicación actualizada exitosamente.');
            alert(data.redirectUrl)
            window.location.href = data.redirectUrl; // Redirige a la URL anterior
          } else {
            alert(data.error || 'Error al actualizar la publicación.');
          }
        })
        .catch(error => console.error('Error:', error));
    }

  </script>
</body>

</html>